<!doctype html>
<html lang="en">
<!-- TODO: rename roomid to roomId everywhere -->

<head>
    <meta charset="UTF-8" />
    <title>Join a room</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="icon" href="favicon.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>

<body>
    <div class="section">
        <div class="container">
            <form class="box" id="join-form" style="max-width: 500px; margin: auto">
                <div class="field">
                    <label class="label">Room ID</label>
                    <div class="control">
                        <input class="input" type="text" id="roomid-input" name="roomid" autocomplete="off"
                            placeholder="0000" value="{{- .RoomIdPrefill}}">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input class="input" type="text" id="username-input" name="username" autocomplete="off"
                            placeholder="Mr. Duck" />
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button class="button is-link" id="join-submit" type="submit" disabled="true">Join</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        const byId = (id) => document.getElementById(id);

        const joinForm = byId("join-form");
        const roomIdInput = byId("roomid-input");
        const usernameInput = byId("username-input");
        const joinSubmit = byId("join-submit");

        // roomid
        function isRoomIdValid() {
            const roomid = roomIdInput.value.trim();
            return roomid.length === 4 && /^\d+$/.test(roomid);
        }

        function isUsernameValid() {
            const username = usernameInput.value.trim();
            return username.length >= 3 && username.length <= 20;
        }

        roomIdInput.addEventListener("input", function (event) {
            roomIdInput.value = roomIdInput.value.replace(/[^0-9]/g, "");
            roomIdInput.value = roomIdInput.value.slice(0, 4);

            joinSubmit.disabled = !isRoomIdValid() || !isUsernameValid();
        })

        usernameInput.addEventListener("input", function (event) {
            usernameInput.value = usernameInput.value.slice(0, 20);
            joinSubmit.disabled = !isRoomIdValid() || !isUsernameValid();
        });

        joinForm.addEventListener("submit", function (event) {
            event.preventDefault();

            if (isRoomIdValid() && isUsernameValid()) {
                join(roomIdInput.value.trim(), usernameInput.value.trim());
            }
        });

        function join(roomId, username) {
            fetch("/join", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    roomId: roomId,
                    username: username,
                }),
            })
                .then((response) => {
                    if (response.ok) {
                        window.location.href = "/room/" + roomId;
                    } else {
                        alert("Join Failed :(");
                    }
                });
        }
    </script>
</body>

</html>