<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Room#{{.ID}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="icon" href="favicon.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>

<body style="padding: 16px;">
    <div class="section">
        <div class="container">
            <h6 class="">Room#{{.ID}}</h6>
            <h5 class="title is-5" id="active-user">...</h5>
            <div id="alone-warning" hidden><span class="tag is-warning">You're alone</span></div>
        </div>
    </div>


    <div class="container">
        <div style="max-width: 768px; margin: auto; height: 64px">
            <canvas id="color-picker" style="width:100%; height: 100%;"></canvas>
        </div>

        <br />

        <div style="max-width: 768px; margin: auto;">
            <canvas id="image-grid" style="width:100%;"></canvas>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <h6 class="title is-6">Players:</h6>
            <p id="users">Loading...</p>
        </div>
    </div>

    <script>
        // state
        const colors = ["#1a1c2c", "#5d275d", "#b13e53", "#ef7d57", "#ffcd75", "#a7f070", "#38b764", "#257179", "#29366f", "#3b5dc9", "#41a6f6", "#73eff7", "#f4f4f4", "#94b0c2", "#566c86", "#333c57"];
        const username = "{{.Username}}";

        let selectedColor = "#1a1c2c"
        let pixels = [];

        const colorPickerRows = 2
        const colorPickerColumns = 8

        // TODO: configurable colors
        // color selector
        const colorPicker = document.getElementById("color-picker");
        function drawColorPicker() {
            colorPicker.width = colorPicker.width;
            const selectedBorderInset = 8;

            const cellWidth = colorPicker.width / colorPickerColumns;
            const cellHeight = colorPicker.height / colorPickerRows;

            const ctx = colorPicker.getContext("2d");
            ctx.strokeStyle = "#000000";

            let colorIndex = 0;
            for (let i = 0; i < colorPickerRows; i++) {
                for (let j = 0; j < colorPickerColumns; j++) {
                    ctx.fillStyle = colors[colorIndex];
                    ctx.fillRect(cellWidth * j, cellHeight * i, cellWidth, cellHeight);

                    if (colors[colorIndex] == selectedColor) {
                        ctx.strokeRect(
                            cellWidth * j + selectedBorderInset,
                            cellHeight * i + selectedBorderInset,
                            cellWidth - selectedBorderInset * 2,
                            cellHeight - selectedBorderInset * 2
                        );
                    }

                    colorIndex++;
                }
            }
        }

        function getColorCellFromEvent(event) {
            const rect = colorPicker.getBoundingClientRect();
            const cellWidth = rect.width / colorPickerColumns;
            const cellHeight = rect.height / colorPickerRows;

            const x = Math.floor(event.offsetX / cellWidth);
            const y = Math.floor(event.offsetY / cellHeight);

            const colorIndex = y * colorPickerColumns + x;

            return colors[colorIndex];
        }

        colorPicker.addEventListener("click", (event) => {
            selectedColor = getColorCellFromEvent(event);
            drawColorPicker();
        });

        // image rendering
        const imageGrid = document.getElementById("image-grid");

        function drawImageGrid(hoverX = null, hoverY = null) {
            imageGrid.width = imageGrid.width;
            const gridSize = pixels.length;
            if (gridSize == 0) {
                return;
            }

            const ctx = imageGrid.getContext("2d");
            ctx.strokeStyle = "black";
            const pixelSize = imageGrid.width / pixels.length;
            const bgPixelSize = pixelSize / 4;

            // background
            ctx.fillStyle = "#FFFFFF";
            ctx.fillRect(0, 0, imageGrid.width, imageGrid.height);

            ctx.fillStyle = "#CCCCCC";
            for (let i = 0; i < gridSize * 4; i++) {
                for (let j = i % 2; j < gridSize * 4; j += 2) {
                    const x = bgPixelSize * j;
                    const y = bgPixelSize * i;
                    ctx.fillRect(x, y, bgPixelSize, bgPixelSize);
                }
            }

            // image
            for (let i = 0; i < gridSize; i++) {
                for (let j = 0; j < gridSize; j++) {
                    const color = pixels[i][j];
                    const x = pixelSize * j;
                    const y = pixelSize * i;

                    if (color != null) {
                        ctx.fillStyle = color;
                        ctx.fillRect(x, y, pixelSize, pixelSize);
                    }

                    if (hoverX == j && hoverY == i) {
                        ctx.fillStyle = "#00000022";
                        ctx.fillRect(x, y, pixelSize, pixelSize);
                    }

                    ctx.strokeRect(x, y, pixelSize, pixelSize);
                }
            }
        }

        // image interactions
        function getPixelCoordsFromEvent(event) {
            const gridWidth = imageGrid.getBoundingClientRect().width;
            const pixelSize = gridWidth / pixels.length;

            const x = Math.floor(event.offsetX / pixelSize);
            const y = Math.floor(event.offsetY / pixelSize);

            return { x, y };
        }

        imageGrid.addEventListener("mousemove", (event) => {
            const { x, y } = getPixelCoordsFromEvent(event);
            const color = pixels[y][x];

            if (color == null) {
                drawImageGrid(x, y);
            } else {
                // reset hover
                drawImageGrid();
            }
        });

        imageGrid.addEventListener("mouseleave", () => {
            // reset hover
            drawImageGrid();
        });

        imageGrid.addEventListener("click", (event) => {
            const { x, y } = getPixelCoordsFromEvent(event);

            const currentColor = pixels[y][x];
            if (currentColor != null) {
                return;
            }

            sendPixelUpdate(x, y, selectedColor.replace("#", ""));
        });

        // receiving updates
        function parseGridData(data) {
            const result = [];
            const entries = data.split(",");
            const gridSize = Number(entries.shift());

            let entriesIndex = 0;
            for (let i = 0; i < gridSize; i++) {
                result.push(Array(gridSize).fill(null));

                for (let j = 0; j < gridSize; j++) {
                    const remoteValue = entries[entriesIndex];
                    if (remoteValue != "-") {
                        result[i][j] = "#" + remoteValue;
                    }
                    entriesIndex++;
                }
            }
            return result;
        }

        function parseUsersData(data) {
            const entries = data.split(",");
            const activeUser = entries.shift();
            const users = entries;

            return { activeUser, users };
        }

        const eventSource = new EventSource("{{- .ID}}/events");

        eventSource.addEventListener("grid", (event) => {
            console.log(event.data);
            pixels = parseGridData(event.data);
            drawImageGrid();
        })

        eventSource.addEventListener("users", (event) => {
            console.log(event.data);
            const { activeUser, users } = parseUsersData(event.data);
            console.log("activeUser", activeUser, "username", username);

            document.getElementById("active-user").innerText = activeUser == username ? "Your turn" : activeUser + "'s turn";
            document.getElementById("alone-warning").hidden = users.length > 1;
            document.getElementById("users").innerText = "- " + users.join("\n- ");
        })

        // sending updates
        function sendPixelUpdate(x, y, color) {
            fetch("{{- .ID}}/pixel", {
                method: "PATCH",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    x: x,
                    y: y,
                    color: color,
                }),
            });
        }

        // canvases sizing

        // proper scale for sharp canvas graphics
        function setupCanvas(canvas) {
            var dpr = window.devicePixelRatio || 1;
            var rect = canvas.getBoundingClientRect();
            canvas.width = rect.width * dpr;
            canvas.height = rect.height * dpr;
            var ctx = canvas.getContext('2d');
            ctx.scale(dpr, dpr);
            return ctx;
        }

        function resizeCanvases() {
            // image grid
            imageGrid.height = imageGrid.width;
            setupCanvas(imageGrid);
            drawImageGrid();

            // color picker
            setupCanvas(colorPicker);
            drawColorPicker();
        }

        resizeCanvases();

        window.addEventListener('resize', resizeCanvases);
        window.addEventListener('orientationchange', resizeCanvases);
    </script>
</body>

</html>